h2 {
    margin-top: 15px;
    font-size: 2em;
    color: #266f99;
}

li {
    width: 5em;
    display: inline-block;
    background-color: #266f99;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px;
}