<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Arboles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Árboles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Aplicación de arboles binarios de busqueda</ion-card-subtitle>
      <ion-card-title>Árboles</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
         
      <!-- <ion-item>
        <ion-label>Dato: </ion-label>
        <ion-input [(ngModel)]="infija" type="text"></ion-input>
      </ion-item> -->
      
      <ion-button color="primary" (click)="verArbol()">Ver Arbol</ion-button>
      <ion-button color="primary" (click)="recorridoPreordenRecursivo()">Recorrido preorden recursivo</ion-button>
      <ion-button color="primary" (click)="recorridoPreordenNoRecursivo()">Recorrido preorden no recursivo</ion-button>
      
      

      

      

    </ion-card-content>
  </ion-card>
  
</ion-content>
